In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.0.2'

In [4]:
df = pd.read_csv(r'C:\Study\Data-Engineering-Zoomcamp\week1\2018_Yellow_Taxi_Trip_Data_20231213.csv', nrows=100)

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\1874911345.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\1874911345.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
engine.connect()

In [23]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra BIGINT,
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53)
)

In [24]:
df_iter = pd.read_csv(r'C:\Study\Data-Engineering-Zoomcamp\week1\2018_Yellow_Taxi_Trip_Data_20231213.csv', iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

100000

In [36]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.44 s
Wall time: 10.8 s

1000

In [42]:
from time import time

In [43]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 26.742 seconds
inserted another chunk..., took 12.313 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 27.444 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 29.210 seconds
inserted another chunk..., took 10.762 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 27.797 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 27.397 seconds
inserted another chunk..., took 10.578 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 26.600 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 26.532 seconds
inserted another chunk..., took 10.650 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 27.695 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk..., took 25.967 seconds

C:\Users\igral\AppData\Local\Temp\ipykernel_87780\3421966472.py:3: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type double precision: "0.48{"
LINE 1: ...timestamp, '2018-02-24T11:39:43'::timestamp, 1.0, '0.48{', N...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 313853 characters truncated ... , %(tip_amount__744)s, %(tolls_amount__744)s, %(improvement_surcharge__744)s, %(total_amount__744)s)]
[parameters: {'tip_amount__0': 0.0, 'tpep_pickup_datetime__0': datetime.datetime(2018, 2, 24, 11, 31, 43), 'RatecodeID__0': 1.0, 'fare_amount__0': 10.0, 'trip_distance__0': '2.24', 'improvement_surcharge__0': 0.3, 'passenger_count__0': 2.0, 'DOLocationID__0': 263.0, 'tpep_dropoff_datetime__0': datetime.datetime(2018, 2, 24, 11, 43, 15), 'mta_tax__0': 0.5, 'tolls_amount__0': 0.0, 'payment_type__0': 1.0, 'total_amount__0': 10.8, 'PULocationID__0': 143.0, 'extra__0': 0.0, 'store_and_fwd_flag__0': 'N', 'VendorID__0': '2', 'index__0': 1471000, 'tip_amount__1': 2.3, 'tpep_pickup_datetime__1': datetime.datetime(2018, 2, 24, 11, 45, 8), 'RatecodeID__1': 1.0, 'fare_amount__1': 12.0, 'trip_distance__1': '3.04', 'improvement_surcharge__1': 0.3, 'passenger_count__1': 2.0, 'DOLocationID__1': 145.0, 'tpep_dropoff_datetime__1': datetime.datetime(2018, 2, 24, 11, 56, 58), 'mta_tax__1': 0.5, 'tolls_amount__1': 0.0, 'payment_type__1': 1.0, 'total_amount__1': 15.1, 'PULocationID__1': 263.0, 'extra__1': 0.0, 'store_and_fwd_flag__1': 'N', 'VendorID__1': '2', 'index__1': 1471001, 'tip_amount__2': 0.0, 'tpep_pickup_datetime__2': datetime.datetime(2018, 2, 24, 11, 11, 45), 'RatecodeID__2': 1.0, 'fare_amount__2': 7.0, 'trip_distance__2': '1.29', 'improvement_surcharge__2': 0.3, 'passenger_count__2': 1.0, 'DOLocationID__2': 234.0, 'tpep_dropoff_datetime__2': datetime.datetime(2018, 2, 24, 11, 19, 1), 'mta_tax__2': 0.5, 'tolls_amount__2': 0.0, 'payment_type__2': 2.0, 'total_amount__2': 7.8, 'PULocationID__2': 161.0 ... 13310 parameters truncated ... 'trip_distance__742': None, 'improvement_surcharge__742': None, 'passenger_count__742': None, 'DOLocationID__742': None, 'tpep_dropoff_datetime__742': None, 'mta_tax__742': None, 'tolls_amount__742': None, 'payment_type__742': None, 'total_amount__742': None, 'PULocationID__742': None, 'extra__742': None, 'store_and_fwd_flag__742': None, 'VendorID__742': '  "message" : "Internal error"', 'index__742': 1471742, 'tip_amount__743': None, 'tpep_pickup_datetime__743': None, 'RatecodeID__743': None, 'fare_amount__743': None, 'trip_distance__743': None, 'improvement_surcharge__743': None, 'passenger_count__743': None, 'DOLocationID__743': None, 'tpep_dropoff_datetime__743': None, 'mta_tax__743': None, 'tolls_amount__743': None, 'payment_type__743': None, 'total_amount__743': None, 'PULocationID__743': None, 'extra__743': None, 'store_and_fwd_flag__743': None, 'VendorID__743': '  "status" : 500', 'index__743': 1471743, 'tip_amount__744': None, 'tpep_pickup_datetime__744': None, 'RatecodeID__744': None, 'fare_amount__744': None, 'trip_distance__744': None, 'improvement_surcharge__744': None, 'passenger_count__744': None, 'DOLocationID__744': None, 'tpep_dropoff_datetime__744': None, 'mta_tax__744': None, 'tolls_amount__744': None, 'payment_type__744': None, 'total_amount__744': None, 'PULocationID__744': None, 'extra__744': None, 'store_and_fwd_flag__744': None, 'VendorID__744': '}', 'index__744': 1471744}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)